<div class="headingdiv">
    <div class="w-container">
      <h1 class="headings blog">Updates</h1>
    </div>
  </div>
  <div class="wrapper-container w-container">
    <a id="w-node-86b7c7adf07f-c7adf07e" href="#" class="w-inline-block">
      <div class="blog-post-div">
        <div class="blog-img-wrap"><img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" alt="" class="blog-img"></div>
        <div class="blog-content">
          <h2 class="headings _2">Heading</h2>
          <p class="blog">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
        </div>
      </div>
    </a>
    <a id="w-node-86b7c7adf086-c7adf07e" href="#" class="w-inline-block">
      <div class="blog-post-div">
        <div class="blog-img-wrap"><img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" alt="" class="blog-img"></div>
        <div class="blog-content">
          <h2 class="headings _2">Heading</h2>
          <p class="blog">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
        </div>
      </div>
    </a>
    <a id="w-node-345346b8afc0-c7adf07e" href="#" class="w-inline-block">
      <div class="blog-post-div">
        <div class="blog-img-wrap"><img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" alt="" class="blog-img"></div>
        <div class="blog-content">
          <h2 class="headings _2">Heading</h2>
          <p class="blog">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
        </div>
      </div>
    </a>
  </div>