<div class="textcol-piccol w-container">
    <div class="columns w-row">
      <div class="column w-col w-col-7">
        <div class="headings">Hop In Reduces Employee Tardiness Through Carpooling</div>
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
        <div class="div-block-2">
          <div class="w-layout-grid grid"><a id="w-node-d856be2033c8-7b32dffd" href="#" class="w-inline-block"><img src="../assets/google-play-badge.png" height="70" srcset="../assets/google-play-badge-p-500.png 500w, ../assets/google-play-badge.png 646w" sizes="181px" alt="" class="image-4"></a><a id="w-node-920265d1c06a-7b32dffd" href="#" class="w-inline-block"><img src="../assets/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" height="50" alt="" class="image-3"></a></div>
        </div>
      </div>
      <div class="w-col w-col-5"><img src="../assets/screen-shot-2018-11-07-at-10.37.19-pm.png" alt=""></div>
    </div>
    <div class="legalattribution">Google Play and the Google Play logo are trademarks of Google LLC.</div>
    <div class="div-block-3">
      <div class="legalattribution">Apple, and the Apple logo are trademarks of Apple Inc., registered in the U.S. and other countries and regions. App Store is a service mark of Apple Inc.</div>
    </div>
  </div>